/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

#gerenciaVeterinariosTop {
    -fx-background-image: url(../images/top-gerencia-veterinarios.png);
    -fx-background-repeat: no-repeat; /* Opcional: não repetir a imagem */
    -fx-background-size: cover;       /* Opcional: cobrir toda a área */
}

.botoesVets{
    -fx-background-color: #ff842c;
}