/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

#gerenciaProprietariosTop {
    -fx-background-image: url(../images/top-gerencia-proprietarios.png);
    -fx-background-repeat: no-repeat; /* Opcional: não repetir a imagem */
    -fx-background-size: cover;       /* Opcional: cobrir toda a área */
}

.botoesDonos{
    -fx-background-color: #ff842c;
}